aniso8601==6.0.0
attrs==19.1.0
Click==7.0
cycler==0.10.0
Flask==1.0.2
Flask-Cors==3.0.7
flask-restplus==0.12.1
Flask-Script==2.0.6
Flask-Testing==0.7.1
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==3.0.1
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
numpy==1.16.2
onnx==1.5.0
onnxconverter-common==1.4.1
pandas==0.24.2
protobuf==3.7.1
pyparsing==2.4.0
pyrsistent==0.14.11
python-dateutil==2.8.0
pytz==2018.9
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
skl2onnx==1.4.7
typing==3.6.6
typing-extensions==3.7.2
Werkzeug==0.14.1
